import "./App.css";

function App() {
  return (
    <>
      <section id="center">
        <div>
          <h1>Khajiit has wares if you have coin...</h1>
        </div>
      </section>
      <img
        src="/Khajiit.webp"
        alt="Khajiit"
        className="bottom-image back-layer"
      />
    </>
  );
}

export default App;
